$greyColor: #1b1b1b;
$lightGrey: #777;
.btn {
	padding: 20px 32px;
	font-size: 12px;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	font-weight: 400;
	font-family: "Open Sans";
	// White
	&-white {
		color: $greyColor;
		background-color: #fff;
		
		&:hover {
			color: #fff;
			background-color: $greyColor;
			border-color: $greyColor;
		}
	}
	// transparent
	&-transparet {
		color: $greyColor;
		background-color: transparent;
		border: 1px solid $greyColor;
		&:hover {
			background-color: $greyColor;
			color: #fff;
		}
	}
	&-dark {
		color: #fff;
		background-color: $greyColor;
		&:hover {
			background-color: $lightGrey;
		}
	}
}