@use '../../assets/stylesheets/buttons.scss' as *;
.logo {
	width: 120px;
	margin-right: auto;
}
@media screen and (max-width: 370px){
	.logo-header{
		width: 80px;
	}
}
.custom-menubar {
	position: absolute;
	padding: 30px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}
::ng-deep .custom-menubar .p-menubar-start {
	margin-right: auto;
}
::ng-deep .p-menubar-end {
	margin-left: 0 !important;
}
::ng-deep .p-menubar {
	background: none !important;
	border: none !important;
}
::ng-deep .p-menubar-item-label, .auth-btn {
	padding: 0 15px;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	transition: color 0.2s ease 0s;
	@media screen and (max-width: 468px) {
		padding: 0;
	}
}
::ng-deep .p-menubar-submenu {
	display: flex !important;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out, opacity 0.2s ease 0.18s;
} 
::ng-deep .p-menubar-item-active .p-menubar-submenu {
	max-height: 100px;
	opacity: 1;
	transition: max-height 0.3s ease-out, opacity 0.2s ease;
}
//for mobile
@media screen and (max-width: 960px) {
	::ng-deep .p-menubar-root-list {
		left: 0 !important;
		top: 100%;
		display: flex !important;
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-out, opacity 0.2s ease 0.18s;
	}
	::ng-deep .p-menubar-mobile-active .p-menubar-root-list {
		max-height: 300px;
		opacity: 1;
		transition: max-height 0.2s linear, opacity 0.2s ease;
	}
}

//for p-button
$greyColor: #1b1b1b;
$lightGrey: #777;
::ng-deep .btn {
	// transparent
	&-transparent-header .p-button {
		text-transform: uppercase;
		font-size: 12px;
		color: #fff;
		background: transparent;
		border: none;
	}
}
::ng-deep .p-button-label {
	font-weight: 700 !important;
}
::ng-deep .p-button:not(:disabled):hover {
	background: transparent !important;
	border: none !important;
	color: $lightGrey !important;
}