<div class="column__container">
	<div class="column__title title"
		[class.white]="textParameters.isColorTextWhite"
		[class.text-center]="textParameters.textCenter">
			{{ item.title }}
	</div>
	<div class="column__sub-title sub-title"
		[class.white]="textParameters.isColorTextWhite"
		[class.text-center]="textParameters.textCenter">
			{{ item.subTitle }}
	</div>
	@if( item.text ) {
		<p class="column__text text"
			[class.white]="textParameters.isColorTextWhite"
			[class.text-center]="textParameters.textCenter"
			[class.text-small] ="textParameters.textSmall"
			[class.text-dark] ="textParameters.textDark">
				{{ item.text }}
		</p>
	}
	@if( item.name ) {
		<p class="column__text text mt-5"
			[class.white]="textParameters.isColorTextWhite"
			[class.text-center]="textParameters.textCenter"
			[class.text-small] ="textParameters.textSmall">
				{{ item.name }}
		</p>
	}
	<div class="mt-12" *ngIf="item.link as link">
		<a [href]="link.src"
			[class.white]="textParameters.isColorTextWhite"
			class="btn btn-transparet">
				{{link.value}}
		</a>
	</div>
</div>