
<app-parallax [imageUrl]="imageParallaxUrl_1">
	<div class="header__container">
		<div class="header__title title animated-item">{{ headerInfo.title }}</div>
		<div class="header__sub-title sub-title animated-item">{{ headerInfo.subTitle }}</div>
		<p class="header__text white text animated-item">{{ headerInfo.text }}</p>
	</div>
</app-parallax>
<!-- flex section -->
<div class="container__about xl mx-auto flex items-center justify-center flex-wrap gap-5 md:gap-20">
	@for(item of aboutObj; track item) {
		<div class="about__item max-w-md lg:max-w-80 p-1 w-full">
			<div class="item__icon mb-5 flex justify-self-center">
				<img [src]="item.imgPath" alt="icon">
			</div>
			<div class="item__title mb-5">
				<h2 class="text-center"z>
					{{ item.title }}
				</h2>
			</div>
			<div class="item__text">
				<p class="text-center">
					{{ item.text }}
				</p>
			</div>
		</div>
	}
</div>
<!-- product section -->
<app-main-page-products-sections></app-main-page-products-sections>

<app-parallax [imageUrl]="imageParallaxUrl_1">
	<div class="counter flex justify-around items-center gap-5">
		@for ( item of clientStatistics; track item.value ) {
			<div class="counter__column text-center">
				<!-- Counter -->
				 <div class="counter__number">
					 <app-number-counter [number]="item.value" [duration]="item.duration" [isTextWhite] = "true"></app-number-counter>
				 </div>
				<p class="counter__title white">
					{{ item.title }}
				</p>
			</div>
		}
	</div>
</app-parallax>
<!-- perfect spot section -->
<app-perfect-spot></app-perfect-spot>
<!-- parallax section  -->
 <app-parallax [imageUrl]="imageParallaxUrl_2">
	<div class="inner-container">
		<p-carousel [value]="reviews" [numVisible]="1" [circular]="true"  class="custom-carousel">
			<!-- custom arrows -->
			<ng-template pTemplate="previousicon">
				<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M15 19L8 12L15 5"/>
				</svg>
			 </ng-template>
			 
			 <ng-template pTemplate="nexticon">
				<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 19L16 12L9 5"/>
				</svg>
			 </ng-template>
			<ng-template let-review #item>
				<app-column [item]="review" [textParameters]="textParameters"></app-column>
			</ng-template>
		</p-carousel>
	</div>
 </app-parallax>