.container {
	&__about{
		height: 430px;
		@media screen and (max-width: 1149.8px) {
			height: 100%;
			padding: 50px 0;
		}
	}
}
.header {
	&__container {
		margin: auto;
		max-width: 880px;
	}
	&__title {
		color: #fff;
		font-size: 70px;
		@media screen and (max-width: 1120px) {
			font-size: 55px;
		}
	}
	&__sub-title {
		color: #fff;
		font-size: 75px;
		@media screen and (max-width: 1120px) {
			font-size: 36px;
		}
		@media screen and (max-width: 420px) {
			font-size: 25px;
		}
	}
 }
 .counter {
	@media screen and (max-width: 1005px) {
		flex-wrap: wrap;
	}		
	&__column {
		padding: 30px 15px 0;
		@media screen and (max-width: 1005px) {
			flex: 0 1 48%;
			padding: 0;
		}
	}
	&__number {
		font-family: 'Lora', sans-serif;
		font-size: 36px;
	}
	&__title {
		text-transform: uppercase;
		font-family: 'Lora', sans-serif;
		font-size: 20px;
		font-weight: 300;
	}
 }
//  carousel
::ng-deep .custom-carousel .p-carousel-item  {
	padding: 5% 20%;
	@media screen and (max-width: 655px) {
		padding: 5%;
	}
	@media screen and (max-width: 490px) {
		padding: 0%;
	}
}
::ng-deep .custom-carousel .p-carousel-prev-button {
	@media screen and (max-width: 490px) {
		height: 30px;
		width: 30px;
	}
}
::ng-deep .custom-carousel .p-button-text.p-button-rounded {
	padding: 0;
	@media screen and (max-width: 490px) {
		height: 30px;
		width: 30px;
	}
}
::ng-deep .custom-carousel .p-button-text.p-button-secondary svg {
	color: #fff;
}
::ng-deep .custom-carousel .p-carousel-indicator-active .p-carousel-indicator-button {
	height: 10px !important;
	width: 10px !important;
}
::ng-deep .custom-carousel .p-carousel-indicator-list {
	align-items: center;
}

 
 