<div class="inner-container flex max-[1005px]:flex-col justify-between align-center max-[660px]:gap-5 gap-20 xl:pt-36 pt-20 pb-12 xl:pb-28">
	<div class="item__content max-[1005px]:mb-5 relative">
		<app-column [item]="perfectSpot" [textParameters]="{ textSmall: true, textDark: true }" ></app-column>
		<div class="bg-layer absolute"><img src="img/icons/h1-img-2.png" alt="bg-img"></div>
	</div>
	<div class="item__content flex justify-center">
		<img src="/img/products/about-img-1.jpg" alt="product-img">
	</div>
</div>