/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	color-scheme: light !important; /* Встановлюємо світлу схему */
 }
 *{
	font-family: "Open Sans", sans-serif;
 }
 h1,h2,h3,h4,h5,h6 {
	color: #1b1b1b;
	font-family: Lora, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
 }
 p {
	color: #7777;
 }
 .white {
	color: #fff;
 }
 .wrapper {
	padding: 0 15px;
	@media screen and (max-width: 768) {
		padding: 0 10px;
	}
 }