$PINK: #fff0e9;
.bg-pink {
	background-color: $PINK;
	h3 {
		color: #1B1B1B;
	}
}
h3 {
	color: #fff;
	font-size: 23px;
	letter-spacing: 1.5px;
	@media screen and (max-width: 515px) {
		font-size: 17px;
	}
}
.input{
	background-color: #fff;
	max-width: 680px;
	width: 100%;
	padding: 17px 25px;
	@media screen and (max-width: 655px) {
		display: block;
		margin-bottom: 12px;
	}
}